/* Created by: George, Khalil
* Created on: Apr 2024
* This file contains the CSS for index.html
*/


.mdl-layout__header-row{
  justify-content: center;
  padding: 0;
}

.mdl-layout__content {
  padding-left: 15pt;
  padding-right: 15pt;
  padding-top: 15pt;
}

.page-content {
  color: white;
  font-size: 1.75rem;
}


body {
  background-color: cornflowerblue;
}

p {
  color: hsl(0, 0%, 0%);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 2.5rem;
  padding-top: 5pt;
}

img {
  width: 400px;
  height: 250px;
  float: right;
}